<!DOCTYPE html>
<html lang='zh'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='>
    <meta name=' author
    ' content='>
    <link rel='shortcut icon' href='ico/favicon.png'>
    <script src='js/angular.min.js'></script>
    <script src='js/spruce.js'></script>
    <title>云杉教育</title>

    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src='js/html5shiv.js'></script>
    <script src='js/respond.min.js'></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href='css/spruce.css' rel='stylesheet'>
</head>

</head>

<!-- NAVBAR
================================================== -->
<body ng-app='spruce'>
<spruce-nav infocus='contact'></spruce-nav>
<hr class='featurette-divider'>

<div class='container marketing'>
    <!-- START THE FEATURETTES -->
    <div class='row'>
        <div class="col-md-1"></div>
        <div class='col-md-4'>
            <h1 class='form-contact-heading'>邮件联系</h1>
            <br>
            <h2>info@sprucelearning.com</h2>
            <!--<form class='form-contact' name='contactForm' ng-controller='ContactCtrl'>-->
                <!--<div ng-show='message'>{{message}}</div>-->
                <!--<input name='name' class='form-control' placeholder="名字" autofocus ng-model='user.name' ng-maxlength='5'-->
                       <!--required><br>-->
                <!--<input type='email' class='form-control' placeholder="回复邮件" ng-model='user.email' required><br>-->
                <!--<input type='text' class='form-control' style='height:300px' placeholder="联系内容" ng-model='user.text' ng-min='1'>-->
                <!--<br>-->
                <!--<button ng-click='sendMsg()' ng-disabled='!contactForm.$valid' class="btn btn-lg btn-primary btn-block" type="submit">提交</button>-->
            <!--</form>-->
        </div>
        <div class="col-md-2"></div>
        <div class='col-md-4'>
            <h1>电话联系</h1><br>
            <h2>136-8338-0899</h2>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- <hr class='featurette-divider'>
    <div class='row featurette'>
      <div class='col-md-9'>

      </div>
    </div>
     -->
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='js/jquery.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/holder.js'></script>
</body>
</html>