.body{
    font-family: arial,'Microsoft YaHei','Helvetica Neue',sans-serif,'Hiragino Sans GB',Tahoma;
}
.center{
    margin:0 auto;
    float:none;
}
.hero-unit{
    min-height: 250px;
    border-bottom-left-radius: 18px;
    -moz-border-radius-bottomleft: 18px;
    -webkit-border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    -moz-border-radius-bottomright: 18px;
    -webkit-border-bottom-right-radius: 18px;
}

.hero-unit h1,.hero-unit h2,.hero-unit h3,.hero-unit h4{
    font-family: arial,'Microsoft YaHei','Helvetica Neue',sans-serif,'Hiragino Sans GB',Tahoma;
    font-weight: normal;
}
.hero-unit h1{
    font-size: 60px;
}
.hero-unit h2{
    font-size: 30px;
}
.hero-unit h3{
    font-size: 30px;
    margin: 20px;
}
.hero-unit h4{
    font-size: 24px;
}




#launcher{
    font-family: arial,'Microsoft YaHei','Helvetica Neue',sans-serif,'Hiragino Sans GB',Tahoma;
}
#launcher h1,h2,h3,h4{
    font-weight: normal;
    line-height: 1.7;
}
#launcher h4 first-child {
   margin-top:20px;
}

.p{
    line-height: 1.7;
}

.h4{
    font-family: arial,'Microsoft YaHei','Helvetica Neue',sans-serif,'Hiragino Sans GB',Tahoma;
}
.textured-background{
    background-image: url(../img/demin-texture.jpg);
    background-size: auto;
    background-repeat: repeat ;
    background-color: rgb(231, 230, 228);
}

.textured-background-creampaper{
    background-image: url(../img/creampaper.png);
    background-size: auto;
    background-repeat: repeat ;
}


.light-yellow-gradient{
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF9F8F4');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f8f4));
    background-image: -webkit-linear-gradient(#ffffff, #f9f8f4);
    background-image: -moz-linear-gradient(#ffffff, #f9f8f4);
    background-image: -o-linear-gradient(#ffffff, #f9f8f4);
    background-image: -ms-linear-gradient(#ffffff, #f9f8f4);
    background-image: linear-gradient(#ffffff, #f9f8f4)
}
.shadow {
    border: 3px solid rgba(204, 204, 204, 0.48);
}
.border-thin {
    border: 3px solid rgba(204, 204, 204, 0.48);
    -webkit-border: 3px solid rgba(204, 204, 204, 0.48);
    -moz-border: 3px solid rgba(204, 204, 204, 0.48);
}

.shadow:before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.lifted-corners-shadow {
    position: relative;
}
.lifted-corners-shadow:before, .lifted-corners-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    min-height: 20;
    width: 60%;
    bottom: 8px;
    -moz-box-shadow: 0 0 10px 8px rgba(51, 51, 51, 0.4);
    -webkit-box-shadow: 0 0 10px 8px rgba(51, 51, 51, 0.4);
    -o-box-shadow: 0 0 10px 8px rgba(51, 51, 51, 0.4);
    box-shadow: 0 0 10px 8px rgba(51, 51, 51, 0.4);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px
}
.lifted-corners-shadow:before {
    left: 15px;
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg)
}
.lifted-corners-shadow:after {
    right: 15px;
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg)
}





